name: C/C++ CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Compile test
      run: gcc operacoesmatematicas_test.c -o test

    - name: Run test
      run: ./test

